<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :details %>
  <%= f.text_field :details %>

  <% unless @task.new_record? %>

  <%= f.label :completed %>
  <%= f.check_box :completed %>
  <% end %>
  <%= f.submit %>
<% end %>

<div class="div-add">
  <br>
  <i class="fas fa-hat-wizard"></i><%= link_to "Back to list", tasks_path %>
</div>
